#readerContext {
    position: fixed;
    display: inline;
    text-align: left;
}

#beforePhrase {
    filter: blur(10px);
    white-space: nowrap;
}

#phrase {
    filter: blur(0px);
    white-space: nowrap;
}

#afterPhrase {
    filter: blur(10px);
    white-space: nowrap;
}

#wholeNode {
    filter: blur(10px);
    white-space: nowrap;
}

#readerHandle {
    height: 30px;
    width: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 999999;
    background-color: green;
}

#reader {
    position: fixed;
    height: 150px;
    width: 300px;
    border: 3px solid black;
    left: 50%;
    top: 50%;
    z-index: 99999;
    border-radius: 10px;
    text-align: center;
}

#readerContent {
    font-family: opendyslexic;
}

#HUDcontent {}

#readerHUD {
    position: fixed;
    height: 150px;
    width: 300px;
    border: 3px solid black;
    left: 10%;
    top: 75%;
    z-index: 99999;
    border-radius: 10px;
    text-align: center;
    background-color: aliceblue;
}

#HUDhandle {
    height: 30px;
    width: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 999999;
    background-color: green;
}

button {
    background-color: aliceblue;
}

.blurrem {
    filter: blur(10px)
}